In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
import pandas as pd

In [10]:
import pandas as pd

data = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
series = pd.Series(data)  # Capital 'S' in Series

print(series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [15]:
data = {
    'Name' :['keen','king','mary','mike','layy','kingsley'],
    'age':[25,30,31,65,78,91],
    'city':['newyork','illnois','bronks','mandell','nairobi','moscow']
}

df = pd.DataFrame(data)
print(df)

       Name  age     city
0      keen   25  newyork
1      king   30  illnois
2      mary   31   bronks
3      mike   65  mandell
4      layy   78  nairobi
5  kingsley   91   moscow

In [27]:
import pandas as pd
df = pd.read_csv(r"C:\Users\user\Downloads\archive(3)\data.csv")
df.info()
df[['Date']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

            Date
0   '2020/12/01'
1   '2020/12/02'
2   '2020/12/03'
3   '2020/12/04'
4   '2020/12/05'
5   '2020/12/06'
6   '2020/12/07'
7   '2020/12/08'
8   '2020/12/09'
9   '2020/12/10'
10  '2020/12/11'
11  '2020/12/12'
12  '2020/12/12'
13  '2020/12/13'
14  '2020/12/14'
15  '2020/12/15'
16  '2020/12/16'
17  '2020/12/17'
18  '2020/12/18'
19  '2020/12/19'
20  '2020/12/20'
21  '2020/12/21'
22           NaN
23  '2020/12/23'
24  '2020/12/24'
25  '2020/12/25'
26      20201226
27  '2020/12/27'
28  '2020/12/28'
29  '2020/12/29'
30  '2020/12/30'
31  '2020/12/31'

In [28]:
import pandas as pd
df = pd.read_csv(r"C:\Users\user\Downloads\archive(3)\data.csv")
df[['Date','Duration']]

            Date  Duration
0   '2020/12/01'        60
1   '2020/12/02'        60
2   '2020/12/03'        60
3   '2020/12/04'        45
4   '2020/12/05'        45
5   '2020/12/06'        60
6   '2020/12/07'        60
7   '2020/12/08'       450
8   '2020/12/09'        30
9   '2020/12/10'        60
10  '2020/12/11'        60
11  '2020/12/12'        60
12  '2020/12/12'        60
13  '2020/12/13'        60
14  '2020/12/14'        60
15  '2020/12/15'        60
16  '2020/12/16'        60
17  '2020/12/17'        60
18  '2020/12/18'        45
19  '2020/12/19'        60
20  '2020/12/20'        45
21  '2020/12/21'        60
22           NaN        45
23  '2020/12/23'        60
24  '2020/12/24'        45
25  '2020/12/25'        60
26      20201226        60
27  '2020/12/27'        60
28  '2020/12/28'        60
29  '2020/12/29'        60
30  '2020/12/30'        60
31  '2020/12/31'        60

In [29]:
import pandas as pd
df = pd.read_csv(r"C:\Users\user\Downloads\archive(3)\data.csv")
df[df['Duration'] >30]

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\user\Downloads\archive(3)\data.csv")
df.sort_values(by='Date')

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0
26        60      20201226    100       120     250.0
22        45           NaN    100       119     282.0

In [2]:
import pandas as pd
df = pd.read_csv(r"C:\Users\user\Downloads\archive(3)\data.csv")
df.sort_values(by='Date', ascending=False)

    Duration          Date  Pulse  Maxpulse  Calories
26        60      20201226    100       120     250.0
31        60  '2020/12/31'     92       115     243.0
30        60  '2020/12/30'    102       129     380.3
29        60  '2020/12/29'    100       132     280.0
28        60  '2020/12/28'    103       132       NaN
27        60  '2020/12/27'     92       118     241.0
25        60  '2020/12/25'    102       126     334.5
24        45  '2020/12/24'    105       132     246.0
23        60  '2020/12/23'    130       101     300.0
21        60  '2020/12/21'    108       131     364.2
20        45  '2020/12/20'     97       125     243.0
19        60  '2020/12/19'    103       123     323.0
18        45  '2020/12/18'     90       112       NaN
17        60  '2020/12/17'    100       120     300.0
16        60  '2020/12/16'     98       120     215.2
15        60  '2020/12/15'     98       123     275.0
14        60  '2020/12/14'    104       132     379.3
13        60  '2020/12/13'    106       128     345.3
12        60  '2020/12/12'    100       120     250.7
11        60  '2020/12/12'    100       120     250.7
10        60  '2020/12/11'    103       147     329.3
9         60  '2020/12/10'     98       124     269.0
8         30  '2020/12/09'    109       133     195.1
7        450  '2020/12/08'    104       134     253.3
6         60  '2020/12/07'    110       136     374.0
5         60  '2020/12/06'    102       127     300.0
4         45  '2020/12/05'    117       148     406.0
3         45  '2020/12/04'    109       175     282.4
2         60  '2020/12/03'    103       135     340.0
1         60  '2020/12/02'    117       145     479.0
0         60  '2020/12/01'    110       130     409.1
22        45           NaN    100       119     282.0

In [4]:
import pandas as pd
df = pd.read_csv(r"C:\Users\user\Downloads\archive(3)\data.csv")
df.drop(columns=['Date'], inplace=True)
print(df)

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7        450    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    100       120     250.7
13        60    106       128     345.3
14        60    104       132     379.3
15        60     98       123     275.0
16        60     98       120     215.2
17        60    100       120     300.0
18        45     90       112       NaN
19        60    103       123     323.0
20        45     97       125     243.0
21        60    108       131     364.2
22        45    100       119     282.0
23        60    130       101     300.0
24        45    105       132     246.0
25        60    102       126     334.5
26        60    100       120     250.0
27        60     92       118     241.0
28        60    103       132       NaN
29        60    100       132     280.0
30        60    102       129     380.3
31        60     92       115     243.0

In [5]:
import pandas as pd
df = pd.read_csv(r"C:\Users\user\Downloads\archive(3)\data.csv")
df.isnull().sum() #counts missing values and sum

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [6]:
import pandas as pd
df = pd.read_csv(r"C:\Users\user\Downloads\archive(3)\data.csv")
df.fillna(0, inplace=True) #replaces all null with 0
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       0.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45             0    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       0.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [7]:
import pandas as pd
df = pd.read_csv(r"C:\Users\user\Downloads\archive(3)\data.csv")
df.dropna(inplace=True) #Drop rows with missing values
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [16]:
import pandas as pd
df = pd.read_csv(r"C:\Users\user\Downloads\archive(3)\data.csv")
df.drop(columns=['Date'], inplace=True)
print(df)
df.to_csv(r"C:\Users\user\Downloads\archive(3)\data.csv",index=false)

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7        450    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    100       120     250.7
13        60    106       128     345.3
14        60    104       132     379.3
15        60     98       123     275.0
16        60     98       120     215.2
17        60    100       120     300.0
18        45     90       112       NaN
19        60    103       123     323.0
20        45     97       125     243.0
21        60    108       131     364.2
22        45    100       119     282.0
23        60    130       101     300.0
24        45    105       132     246.0
25        60    102       126     334.5
26        60    100       120     250.0
27        60     92       118     241.0
28        60    103       132       NaN
29        60    100       132     280.0
30        60    102       129     380.3
31        60     92       115     243.0

NameError: name 'false' is not defined

In [13]:
import pandas as pd
df = pd.read_csv(r"C:\Users\user\Downloads\archive(3)\data.csv")
def sum_columns(df):
    return df[['Pulse' , 'Maxpulse' , 'Calories']].sum()
sum_total = sum_columns(df)
print(sum_total)

Pulse       3312.0
Maxpulse    4112.0
Calories    9140.4
dtype: float64

In [17]:
import pandas as pd
df = pd.read_csv(r"C:\Users\user\Downloads\archive(3)\data.csv")
df.sort_values(by='Date', ascending=False)

    Duration          Date  Pulse  Maxpulse  Calories
26        60      20201226    100       120     250.0
31        60  '2020/12/31'     92       115     243.0
30        60  '2020/12/30'    102       129     380.3
29        60  '2020/12/29'    100       132     280.0
28        60  '2020/12/28'    103       132       NaN
27        60  '2020/12/27'     92       118     241.0
25        60  '2020/12/25'    102       126     334.5
24        45  '2020/12/24'    105       132     246.0
23        60  '2020/12/23'    130       101     300.0
21        60  '2020/12/21'    108       131     364.2
20        45  '2020/12/20'     97       125     243.0
19        60  '2020/12/19'    103       123     323.0
18        45  '2020/12/18'     90       112       NaN
17        60  '2020/12/17'    100       120     300.0
16        60  '2020/12/16'     98       120     215.2
15        60  '2020/12/15'     98       123     275.0
14        60  '2020/12/14'    104       132     379.3
13        60  '2020/12/13'    106       128     345.3
12        60  '2020/12/12'    100       120     250.7
11        60  '2020/12/12'    100       120     250.7
10        60  '2020/12/11'    103       147     329.3
9         60  '2020/12/10'     98       124     269.0
8         30  '2020/12/09'    109       133     195.1
7        450  '2020/12/08'    104       134     253.3
6         60  '2020/12/07'    110       136     374.0
5         60  '2020/12/06'    102       127     300.0
4         45  '2020/12/05'    117       148     406.0
3         45  '2020/12/04'    109       175     282.4
2         60  '2020/12/03'    103       135     340.0
1         60  '2020/12/02'    117       145     479.0
0         60  '2020/12/01'    110       130     409.1
22        45           NaN    100       119     282.0

In [32]:
import pandas as pd
df = pd.read_csv(r"C:\Users\user\Downloads\archive(3)\data.csv")
df.dropna(inplace=True)
df.isnull().sum
df.drop(columns=['Date'], inplace=True)
def sum_columns(df):
    return df[['Pulse','Maxpulse','Calories']].sum()
total_sum = sum_columns(df)
print(total_sum)

Pulse       3019.0
Maxpulse    3749.0
Calories    8858.4
dtype: float64

In [ ]:
import pandas as pd
df = pd.read_csv(r"C:\Users\user\Downloads\archive(3)\data.csv")
df.dropna(inplace=True)
df.isnull().sum
df.drop(columns=['Date'], inplace=True)

In [33]:
import pandas as pd

data = {
    'Product': ['A', 'B', 'A', 'B', 'C'],
    'Sales': [100, 150, 200, 250, 300],
    'Region': ['North', 'South', 'North', 'South', 'East']
}

df = pd.DataFrame(data)
print(df)

  Product  Sales Region
0       A    100  North
1       B    150  South
2       A    200  North
3       B    250  South
4       C    300   East

In [34]:
grouped = df.groupby('Product')['Sales'].sum()
print(grouped)

Product
A    300
B    400
C    300
Name: Sales, dtype: int64

In [36]:
grouped = df.groupby('Product')['Sales'].sum()
print(grouped)

Product
A    300
B    400
C    300
Name: Sales, dtype: int64

In [38]:
aggregated = df.groupby('Product')['Sales'].agg(['sum','mean','max'])
print(aggregated)

         sum   mean  max
Product
A        300  150.0  200
B        400  200.0  250
C        300  300.0  300

In [40]:
grouped_multi = df.groupby(['Product','Region'])['Sales'].agg(['sum','mean','max','min'])
print(grouped_multi)

                sum   mean  max  min
Product Region
A       North   300  150.0  200  100
B       South   400  200.0  250  150
C       East    300  300.0  300  300